.rounded-circle {
    height: 202px;
    width: 240px;
    margin-left:68px;
}

.row{
    margin-top: 20px;
}

.container{
    margin-top:30px;
    border-radius: 30px;
    border-color: firebrick;
}

.ul{
    margin-bottom: 20px;


}